.Header {
    display: flex;
    background-color: #ff3131;
    height: 60px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
    padding: 0px 100px;
}