.Box {
  padding: 40px;
}

.ContactLabel {
    font-size: 1.2rem;
    min-width: 250px;
    display: inline-block;
    text-align: end;
    padding-right: 5px;
    padding-bottom: 20px;
    vertical-align: top;
}

.ContactInput {
    font-size: 1.2rem;
    padding: 4px 6px;
}


.DownloadButton {
  margin-left: 400px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: #ff3131;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 50px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.DownloadButton:hover,
.DownloadButton:focus {
  background-color: #ff3131b3;
}