.SelectorItem {
  /* @apply flex items-center justify-center cursor-pointer bg-slate-300 rounded border-2 border-slate-400;
  @apply hover:bg-slate-500; */
  @apply flex items-center justify-center cursor-pointer bg-white rounded border border-neutral-400/50 drop-shadow-xl;
  @apply hover:bg-gray-300;
  width: 160px;
  height: 240px;
}
.SelectorItem:hover {
  
}


.SelectorNewItem {
  @apply flex items-center justify-center cursor-pointer bg-red-300 rounded border-2 border-red-400;
  @apply hover:bg-red-500;
  width: 160px;
  height: 240px;
}
