.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.ProjectContainer {
  display: flex;
  gap: 10px;
}

.NavigationLink {
  cursor: pointer;
  color: #ff3131;
  font-size: 1.2rem;
}

.NavigationActive {
  font-weight: bold;
}

.PortfolioLink {
    display: flex;
}

.PortfolioDivider {
    padding-left: 10px;
}
