.SideBarContainer {
  padding: 10px;
  background-color: white;
}

.SideBarContainerOpen {
  padding: 10px 10px 10px 0px;
}

.SideBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.SideBarOpen {
  width: 300px;
}
