.AboutHeader1 {
  @apply text-6xl text-gray-800;
  padding: 20px 0px 10px 0px;
}

.AboutHeader2 {
  @apply text-4xl;
  padding: 20px 0px 10px 0px;
}

.AboutHeader3 {
  @apply text-2xl text-gray-600;
  padding: 20px 0px 10px 0px;
}

.AboutHeader4 {
  @apply text-xl text-gray-600;
  padding: 20px 0px 10px 0px;
}

.AboutSection {
  @apply pt-[60px] flex justify-center items-center;
  height: calc(80% - 60px);
}

.AboutSubsection {
  @apply mb-10 flex flex-col flex-1 rounded-lg justify-center items-center mx-10 text-white text-7xl;
}

.AboutSectionTextLeft {
    @apply my-10 mx-10 lg:my-0 lg:mx-10 lg:pr-20 flex flex-1 flex-col justify-center items-start rounded-lg;
}

.AboutSectionTextRight {
  @apply my-10 mx-10 lg:my-0 lg:mx-10 lg:pl-20 flex flex-1 flex-col justify-center items-start rounded-lg;
}

@media only screen and (max-width: 600px) {
  .AboutSection {
    height: auto;
  }

  .AboutSubsection {
    min-height: 400px;
  }

  /* .AboutSectionTextRight, .AboutSectionTextRight {
    margin-bottom: 40px;
  } */
}

.Traveler {
  font-family: 'Traveler';
}

.Selfish {
  font-family: 'Selfish';
}
