html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  flex: 1;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
    background-color: #646464;
    padding: 10px 20px;
    color: white;
}