@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
    padding: 20px 0px 10px 0px;
  }
  h2 {
    @apply text-xl;
    padding: 10px 0px 5px 0px;
  }
  h3 {
    @apply text-lg;
    padding: 5px 0px 0px 0px;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Traveler";
  src: url("../fonts/Traveler.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selfish";
  src: url("../fonts/Selfish.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
